# Standard Exclusions
*custom*
*~
sitemap.xml
sitemap_*.xml

# Exclude Everything
*/*
*.*

# Include these
!_functions/members/*
!_tests/members/*
!_settings/members.default.php

!_cron/hourly/
_cron/hourly/*

!_cron/hourly/sessions.php
!_libs/authenticatron.php
!_libs/phpqrcode_2010100721_1.1.4.php
!_sql/Members.sql

!api/upgrade_plain_passwords.php

!.codeclimate.yml
!.stylelintignore
!.codacy.yml
!.travis.yml
!.mdlrc
!.stylelintrc.json
!.eslintignore
!.gitignore
!.gitignore-runonce
!.eslintrc.json
!.mdlrc.style.rb

!LICENSE.md
!README.md
